*{
    margin: 0%;
    padding: 0%;
    color: #fff;
    font-family: monospace;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom ,rgb(26, 26, 26),rgb(35, 35, 35),black);
    padding: 20px;
}

section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightseagreen;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.014),black); */
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user{
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 10px;
}

.bottom .user img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
}

.bottom>h3{
 font-weight: 500;
 font-size: 20px;
 padding-right: 30px;
}

.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    /* height: 100%; */
    bottom: 12%;
    /* transform: translateX(100%); */
    background: linear-gradient(to right, transparent,rgba(0, 0, 0, 0.041)) ;
    
    
}

.right h4{
    cursor: pointer;
}

.right i{
    font-size: 20px;
    font-weight: 500;
}

.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ri-heart-3-fill{
    color: red;
}