*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
button{
    padding: 15px 30px;
    background-color: red;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 9;
}

button:active{
   scale: 0.95;
}

h1{
    white-space: nowrap;
}