*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 500px;
    background-color: rgb(247, 244, 245);
    border-radius: 10px;
    padding: 50px 30px;
}

.outer{
    height: 15px;
    width: 100%;
    background-color: rgb(175, 167, 167);
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 60px;
}
.bottom button{
    padding: 12px 25px;
    background-color: green;
    border-radius: 5px;
    color: white;
    border: 10px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.95;
}

.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.card p span{
    font-weight: 600;
    color: royalblue;
}