*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:  20px;
    
}

#box{
    height: 50%;
    width: 30%;
    background-color: rgb(114, 216, 31);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


h1{
    font-size: 50px;
    font-weight: 600;
    color: azure;
    text-align: center;
}


button{
    padding: 20px  40px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    background-color: brown;
    cursor: pointer;
    color: white;
}

button:active{
background-color: blueviolet;
scale: 0.98;
}

#box p{
 font-size: 20px;color: white;
 font-weight: 500;
 text-align: center;
}
